* {
    margin: 0;
    background-color: #fafafa;
    padding: 0;
}

.modal_login_image{
    height:80px;
    margin: 20px;

}

.instagram_image {
    height: 35px;
    margin: 15px;
    align-items: center;
}

.modal_form{
    width:100%;
    background-color: white;
}


.modal_email_box{
    width:100%;
    font-family: 'Cabin', sans-serif;
    padding-left: 20px;
    border: 1px solid blue;
    padding-left: 20dp;
    background-color: #FAFAFA;
    height: 45px;
}

.modal_password_box{
    width: 100%;
    margin-top: 10px;
    border: 1px solid blue;
    padding-left: 20px;
    font-family: 'Cabin', sans-serif;
    background-color: #FAFAFA;
    height: 45px;
}



.modal_main_div{
    display: flex;
    min-width: 300px;
    padding: 20px;
    background-color: white;
    align-items: center;
    flex-direction: column;
}


.navBar {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    justify-items: center;
}